# Root related
.env
config
node_modules
var
vendor

# TYPO3 related
public/fileadmin
!public/fileadmin/form_definitions/*.yaml

public/typo3
public/typo3conf/ext/*
public/typo3conf/AdditionalConfiguration.php
public/typo3conf/ENABLE_INSTALL_TOOL
public/typo3temp
public/index.php
